html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: url('https://background-tiles.com/overview/red/textures/large/5019.png');
    /* border: 3px solid white; */
    max-width: 100%;
    color: white;
}
.container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
h1 {
    font-size: 5rem;
    margin: 2%;
}
h2 {
    font-size: 4rem;
    margin:2%;
    border: 3px solid white;
    text-align: center;
    background: rgba(99, 99, 99, .3);
}
p{
    font-size: 4rem;
    margin:2%;
    width: 100%;
    text-align: center;
}
button{
    background: url('https://background-tiles.com/overview/yellow/patterns/large/1003.png');
    background-position: center;
    color: white;
    text-shadow: black;
    font-size: 2rem;
    padding: 1%;
    box-shadow: 0 2% 2% 0;
    width:2rem;
}
span{
    display: none;
}

span:hover{
    content: "BEGIN!"
}
